################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/BivvyFunDev/v16/.suo
.DS_Store
