<h1>
  Hello Gellery!!
</h1>

{% schema %}
  {
    "name": "Custom Gallery",
    "class": "custom-gallery-section"
    "settings": [
      {
        "type": "image",
        "name": "Image"
        "settings": [
          {
            "type": "select",
            "id": image",
            "label": "Image"
          }
        ]
      }
    ]
  }