<h1>
  Hello Gellery!!
</h1>

{% schema %}
{
  "name": "Custom Gallery",
  "tag": "section",
  "class": "custom-gallery"
  "settings": [
    {
      "type": "text",
      "id": "header"
      "label": "Header"
    }
  ],
}
{% endschema %}