<div id="section-{{ section.id }}" class="wrapper">
  <div class="grid">
    <div class="grid__item medium--four-twelfths large--four-twelfths custom-gallery-column first-column">
      <div class="gallery-image-one media-wrapper">
        <img class="media lazyload"
        {%- render 'lazysizes', img: section.blocks[0].settings.image, img_type: 'responsive' -%}>
      </div>
      <div class="gallery-image-two media-wrapper">
        <img class="media lazyload"
        {%- render 'lazysizes', img: section.blocks[1].settings.image, img_type: 'responsive' -%}>
      </div>
    </div>
    <div class="grid__item medium--eight-twelfths large--eight-twelfths custom-gallery-column second-column">
      <div class="gallery-image-three media-wrapper">
        <img class="media lazyload"
        {%- render 'lazysizes', img: section.blocks[2].settings.image, img_type: 'responsive' -%}>
      </div>
      <div class="grid">
        <div class="grid__item sixth-twelfths">
          <div class="gallery-image-four media-wrapper">
            <img class="media lazyload"
            {%- render 'lazysizes', img: section.blocks[3].settings.image, img_type: 'responsive' -%}>
          </div>
        </div>
        <div class="grid__item sixth-twelfths">
          <div class="gellery-image-five media-wrapper">
            <img class="media lazyload"
            {%- render 'lazysizes', img: section.blocks[4].settings.image, img_type: 'responsive' -%}>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom Gallery",
  "tag": "section",
  "class": "custom-gallery",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Header"
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}