<h1>
  Hello Gellery!!
</h1>

{% schema %}
  {
    "name": "Custom Gallery",
    "class": "custom-gallery-section"
    "settings": [
      {
        "type": "image_picker",
        "id": "image"
        "label": "Image"
      }
    ]
  }
{% endschema %}