<div id="section-{{ section.id }}" class="wrapper">
  <div class="grid">
    <div class="grid__item medium--four-twelfths large--four-twelfths custom-gallery-column first-column">
      <div class="image-top media-wrapper">
        <img class="media lazyload"
        {%- render 'lazysizes', img: section.blocks[0].settings.image, img_type: 'responsive' -%}>
      </div>
      <div class="image-bottom media-wrapper">
        <img class="media lazyload"
        {%- render 'lazysizes', img: section.blocks[1].settings.image, img_type: 'responsive' -%}>
      </div>
    </div>
    <div class="grid__item medium--eight-twelfths large--eight-twelfths custom-gallery-column second-column">
      <div class="image-top media-wrapper">
        <img class="media lazyload"
        {%- render 'lazysizes', img: section.blocks[2].settings.image, img_type: 'responsive' -%}>
      </div>
      <div class="grid image-bottom">
        <div class="grid__item sixth-twelfths">
          <div class="image-left media-wrapper">
            <img class="media lazyload"
            {%- render 'lazysizes', img: section.blocks[3].settings.image, img_type: 'responsive' -%}>
          </div>
        </div>
        <div class="grid__item sixth-twelfths">
          <div class="image-right media-wrapper">
            <img class="media lazyload"
            {%- render 'lazysizes', img: section.blocks[4].settings.image, img_type: 'responsive' -%}>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% style %}
  #shopify-section-custom-gallery .media-wrapper {
    margin-bottom: 16px;
  }
  .first-column div {
    padding-top: 100%;
  }
  .second-column .image-top, .second-column .image-left, .second-column .image-right {
    padding-top: 100%;
  }
  #shopify-section-custom-gallery img {
    height: 100%; 
    width: auto; 
    max-width: unset;
  }

{% endstyle %}

{% schema %}
{
  "name": "Custom Gallery",
  "tag": "section",
  "class": "custom-gallery",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Header"
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}