<!-- /templates/product.liquid -->

{%- section 'product-template_bivvy-fun'-%}

{%- section 'featured-columns_camping-stove' -%}

{%- section 'product-row_camping-stove' -%}

{%- section 'featured-content_camping-stove' -%}

{%- section 'custom-gallery_camping-stove' -%}

{%- section 'product-recommendations' -%}

{%- unless settings.review_widget_tabs -%}
  {%- render 'review-widget' -%}
{%- endunless -%}

{%- section 'related-products' -%}

{%- if collection and settings.show_back_to_collection -%}
<div class="back-box">
  <a href="{{ collection.url }}" class="btn btn--banner">
    <span class="{{settings.icon}}" aria-hidden="true">arrow_back</span>
    {{ 'products.general.collection_return' | t: collection: collection.title }}
  </a>
</div>
{%- endif -%}

{%- section 'quotes' -%}
