<!-- /templates/product.liquid -->
{%- if product.description != blank -%}}
  {%- assign description_array = product.description | split: '//'}
{%- section 'product-template-alpha'-%}

{%- section 'featured-columns'-%}

{%- section 'product-row' -%}

{%- section 'featured-content' -%}

{%- section 'custom-gallery' with description_array as product.description -%}

{%- section 'dbtfy-pricing-table' -%}

{%- section 'product-recommendations' -%}

{%- unless settings.review_widget_tabs -%}
  {%- render 'review-widget' -%}
{%- endunless -%}

{%- section "dbtfy-faq-section" -%}

{%- section 'related-products' -%}

{%- if collection and settings.show_back_to_collection -%}
<div class="back-box">
  <a href="{{ collection.url }}" class="btn btn--banner">
    <span class="{{settings.icon}}" aria-hidden="true">arrow_back</span>
    {{ 'products.general.collection_return' | t: collection: collection.title }}
  </a>
</div>
{%- endif -%}

{%- section 'quotes' -%}
