<!-- /templates/product.liquid -->

{%- section 'product-template_bivvy-fun'-%}

{%- section 'featured-columns_foldable-water-bag' -%}

{%- section 'product-row_foldable-water-bag' -%}

{%- section 'featured-content_foldable-water-bag' -%}

{%- section 'custom-gallery_foldable-water-bag' -%}

{%- section 'product-recommendations' -%}

<div style="position: relative;">
  <div id="product-reviews-anchor" style="position: absolute; top: -60px;"></div>
</div>

{%- unless settings.review_widget_tabs -%}
  {%- render 'review-widget' -%}
{%- endunless -%}

{%- section 'related-products' -%}

{%- if collection and settings.show_back_to_collection -%}
<div class="back-box">
  <a href="{{ collection.url }}" class="btn btn--banner">
    <span class="{{settings.icon}}" aria-hidden="true">arrow_back</span>
    {{ 'products.general.collection_return' | t: collection: collection.title }}
  </a>
</div>
{%- endif -%}

{%- section 'quotes' -%}
